extends ../base/layout.pug
include ./mixin

block main
    .grid
        .grid__cell(class="1/4")
            .main-desk
                p <span>"</span>Lorem ipsum dolor sit amet consectetur adipiscing elit. Donec leo nisi, feugiat vel placerat vitae, vulputate ac nibh. Ut scelerisque quis nulla sed tempor.<span>"</span>

                .main-desk__next-back
                    button(class="btn-back" type="button")
                        p <
                    button(class="btn-next" type="button")
                        p >
        .grid__cell(class="3/4")
            .main-panel
                .main-panel__title
                    h2 Lorem ipsum dolor sit amet consectetur

                .main-panel__desk
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo nisi, feugiat vel placerat vitae, vulputate ac nibh. Ut scelerisque quis nulla sed tempor. Maecenas viverra leo sed risus laoreet rutrum. Praesent lobortis ultrices vestibulum. Mauris rhoncus sagittis elit, a congue justo eleifend adipiscing. Ut pulvinar dignissim ante, at mollis justo laoreet et. Vestibulum viverra purus ligula, in placerat sapien condimentum nec. In diam nulla, pharetra dapibus molestie vitae, luctus a ante.


   

    
